# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [5]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = [-0.08,-0.27,0.12,-0.03,0.26,0.4,1.02]

TempSemIndex= pd.Series(dados)
TempSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:

# seu código aqui
indice =[1900,1920,1940,1960,1980,2000,2020]
TempSemIndex= pd.Series(dados,indice)
TempSemIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
temperaturasSeries = pd.Series(dic_temperaturas)
temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [10]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

arr_df=pd.DataFrame(arr)
arr_df

             0           1           2
0   108.163196   92.091624   90.579562
1    97.912552  109.240104   90.253949
2   100.102654  107.827866   94.035768
3   117.194616   96.707873  119.970741
4   111.015066  106.247803   90.286090
5   110.549541  106.703758   77.277491
6   114.005921   95.766515  104.370538
7    90.965437   85.798512   89.097893
8   112.522339   99.208197  104.332015
9   101.385186   88.915828   99.154553
10   91.382363  111.833976  100.869808
11  104.444895  101.339497  111.383626
12   96.528771  108.621177   93.233181
13  108.874034   93.177048  102.439601
14  109.849901   99.086654  101.313634
15   97.010959   86.069214  100.612616
16  109.100294  101.218890  108.436889
17   86.145704   91.369043  107.609480
18  115.104697  103.023831  110.070391
19  112.576068   98.838134  100.622966

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [11]:
#seu código aqui
arr_df_comindex=pd.DataFrame(arr,index=range(1, 21),columns=['x1','x2','x3'])
arr_df_comindex

            x1          x2          x3
1   108.163196   92.091624   90.579562
2    97.912552  109.240104   90.253949
3   100.102654  107.827866   94.035768
4   117.194616   96.707873  119.970741
5   111.015066  106.247803   90.286090
6   110.549541  106.703758   77.277491
7   114.005921   95.766515  104.370538
8    90.965437   85.798512   89.097893
9   112.522339   99.208197  104.332015
10  101.385186   88.915828   99.154553
11   91.382363  111.833976  100.869808
12  104.444895  101.339497  111.383626
13   96.528771  108.621177   93.233181
14  108.874034   93.177048  102.439601
15  109.849901   99.086654  101.313634
16   97.010959   86.069214  100.612616
17  109.100294  101.218890  108.436889
18   86.145704   91.369043  107.609480
19  115.104697  103.023831  110.070391
20  112.576068   98.838134  100.622966

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [16]:
# seu código aqui
arr_df_comindex["media"] = arr_df_comindex.mean(axis=1)
arr_df_comindex

            x1          x2          x3       media
1   108.163196   92.091624   90.579562   96.944794
2    97.912552  109.240104   90.253949   99.135535
3   100.102654  107.827866   94.035768  100.655429
4   117.194616   96.707873  119.970741  111.291077
5   111.015066  106.247803   90.286090  102.516320
6   110.549541  106.703758   77.277491   98.176930
7   114.005921   95.766515  104.370538  104.714325
8    90.965437   85.798512   89.097893   88.620614
9   112.522339   99.208197  104.332015  105.354184
10  101.385186   88.915828   99.154553   96.485189
11   91.382363  111.833976  100.869808  101.362049
12  104.444895  101.339497  111.383626  105.722672
13   96.528771  108.621177   93.233181   99.461043
14  108.874034   93.177048  102.439601  101.496894
15  109.849901   99.086654  101.313634  103.416730
16   97.010959   86.069214  100.612616   94.564263
17  109.100294  101.218890  108.436889  106.252024
18   86.145704   91.369043  107.609480   95.041409
19  115.104697  103.023831  110.070391  109.399639
20  112.576068   98.838134  100.622966  104.012389

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [17]:
# seu código aqui
arr_df_comindex["log_med"] = np.log(arr_df_comindex["media"])
arr_df_comindex

            x1          x2          x3       media   log_med
1   108.163196   92.091624   90.579562   96.944794  4.574142
2    97.912552  109.240104   90.253949   99.135535  4.596488
3   100.102654  107.827866   94.035768  100.655429  4.611703
4   117.194616   96.707873  119.970741  111.291077  4.712149
5   111.015066  106.247803   90.286090  102.516320  4.630022
6   110.549541  106.703758   77.277491   98.176930  4.586771
7   114.005921   95.766515  104.370538  104.714325  4.651236
8    90.965437   85.798512   89.097893   88.620614  4.484364
9   112.522339   99.208197  104.332015  105.354184  4.657328
10  101.385186   88.915828   99.154553   96.485189  4.569390
11   91.382363  111.833976  100.869808  101.362049  4.618699
12  104.444895  101.339497  111.383626  105.722672  4.660819
13   96.528771  108.621177   93.233181   99.461043  4.599766
14  108.874034   93.177048  102.439601  101.496894  4.620028
15  109.849901   99.086654  101.313634  103.416730  4.638767
16   97.010959   86.069214  100.612616   94.564263  4.549280
17  109.100294  101.218890  108.436889  106.252024  4.665814
18   86.145704   91.369043  107.609480   95.041409  4.554313
19  115.104697  103.023831  110.070391  109.399639  4.695008
20  112.576068   98.838134  100.622966  104.012389  4.644510